* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
ul, ol {
	list-style: none;
}
a {
	text-decoration: none;
	color: #000;
}
body {
	font-family: "Open Sans", sans-serif;
	font-size: 1em;
	font-size: 16px;
	height: 2000px;
}

/* start */
#start {
	width: auto;
	height: 110vh;
	box-sizing: border-box;
}
#start	.keyvisual {
	position: absolute;
	width: 100%;
	height: 110vh;
	overflow: hidden;
	margin-top: 100px;
}
#start	.keyvisual ul {
	position: absolute;
	left: 0; /* left: -100%; */
	top: 0;
	width: 200%;
}
#start .keyvisual li {
	float: left;
	width: 100vw;
	height: 110vh;
}
/*
#start .keyvisual img {
	width: 100%;
}
*/
@media only screen and (orientation: landscape) {
	#start .keyvisual li:nth-child(1) {
		background: url(../images/keyvisual1-1.png) center top;
		background-size: cover;
	}
	#start .keyvisual li:nth-child(2) {
		background: url(../images/keyvisual4-1.png) center top;
		background-size: cover;
	}
}
@media only screen and (orientation: portrait) {
	#start .keyvisual li:nth-child(1) {
		background: url(../images/keyvisual-mobile.png) center top;
		background-size:auto;
	}
	#start .keyvisual li:nth-child(2) {
		background: url(../images/keyvisual4-1.png) center top;
		background-size: cover;
	}
}
#header {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 1000;
	padding: 0 18px;
	width: 100%;
	height: 3.5em;
	background-color: #fff;
	box-sizing: border-box;
}
#LOGO {
	margin-top: -10px;
	text-align: center;
}
#header .tab {
	display: block;
	position: absolute;
	right: 10px;
	top: 15px;
	padding: 10px;
	width: 40px;
	height: 30px;
	text-align: center;
	background: url(../images/ico_tab.png) no-repeat 0 0;
}
#header .tab span {
	display: block;
	width: 0;
	height: 0;
	overflow: hidden;
	text-indent: -9999px;
	font-size: 0;
}
#header .tab.active {
	background-image:url(../images/ico_close.png)
}
#start .mobile {
	display: none;
	width: 100%;
	height: 110vh;
	margin-top: -30px;
	background-color: #fff;
}
#start .mobile nav li {
	margin-left: 30px;
	margin-right: 30px;
	padding-top: 40px;
}
#start .mobile nav ul li div {
	background:url(../images/ico_tab_open.png) top right no-repeat;
}
#start .mobile nav ul li div.active {
	background-image: url(../images/ico_tab_close.png)
}
#start .mobile nav li .main {
	font-size: 20px;
	font-weight: 600;
	color: #000;
}
#start .mobile nav li li a {
	font-size: 11px
	font-weight: 300;
	color: #999;
}
